

.signupBtn{
    width: 100px;
    height: 50px; 
    background-color: rgb(8, 103, 175);
    color: white; 
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: .6rem;
    
}
.heroContainer{
    height: 1800px;
}